.App {
  text-align: center;
}

.App-header {
  background-color: rgb(1, 0, 34);
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body {
  background-image: url("../src/images/lightning.png");
  background-position: cover;
  min-height: 60vh;
  padding: 50px;
  margin: 1px auto;
}
.App-footer {
  background-color: #010022;
  min-height: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 1vmin);
  color: white;
}
.App-footer a {
  color: rgba(181, 181, 181, 0.776);
}
.App-footer a:hover {
  color: rgba(73, 57, 145, 0.776);
}
