.Search {
  min-height: 40px;
}

.search-input {
  line-height: 1.4;
  font-size: 16px;
  border: 1px solid rgba(181, 181, 181, 0.78);
  border-radius: 5px;
  background-color: rgba(181, 181, 181, 0.4);
  margin-right: 5px;
  color: whitesmoke;
}

.search-submit {
  font-size: 16px;
  line-height: 1.4;
  border: 1px solid rgba(181, 181, 181, 0.78);
  border-radius: 5px;
  background-color: rgba(181, 181, 181, 0.4);
  color: whitesmoke;
}
